/*
Color Theme on Adobe Color:
https://color.adobe.com/World-Percussion-color-theme-6303442/edit/

Red:  #FF0F23;
Yellow: #D2D151;
Green: #0FCC2D;
Brown: #662F0E;
Light: #E1FFC8;
*/

/* 
BASE STYLES 
*/
html * {
  box-sizing: border-box;
}

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1, h2, h3, h4, h5, h6, nav {
  font-family: Impact, Charcoal, sans-serif;
}

main {
  padding: 10px;
}

/* 
HEADER STYLES
*/
header {
  border: 4px solid black;
}

header h1 {
  margin-top: 0;
  padding-top: 20px;
}

header h1,
header h2 {
  text-align: center;
}

header a, header a:visited {  
  text-decoration: none;
}

nav {
  padding: 8px;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid black;
}

.home, .menu  {
  display: inline-block;
  color: black;
}
.home {
  width: 60%;
}
.menu {
  width: 38%;
  text-align: right;
}

/*
CATEGORY AND SUBCATEGORY STYLES
*/
ul.categories,
ul.subcategories {
  list-style: none;
}
ul.categories li,
ul.subcategories li {  
  margin-bottom: 10px;
}
ul.categories a,
ul.subcategories a {
  text-decoration: none;
  font-weight: bold;
}
ul.categories a {
  font-size: 25px;
}
ul.subcategories {
  margin-top: 8px;
}
ul.subcategories a {
  font-size: 20px;
}

/*
FOOTER STYLES
*/
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 8px;
}

.attribution {
  border-top: 2px dashed white;
  margin-top: 10px;
  padding-top: 10px;
}

.attribution a {
  color: white;
}

/* 
HOMEPAGE and MENU STYLES
*/
#homepage,
#menu      {
  background-image: url('../images/halftone.png')
}

#homepage nav,
#menu nav {
  text-align: center;
}

#homepage h2,
#menu h2 {
  color: #662F0E;
}

#homepage header,
#menu header {
  border: 4px solid #662F0E;
}

#homepage header h1,
#homepage header h2,
#menu header h1,
#menu header h2 {
  color: #662F0E;
}

#homepage header a, 
#homepage header a:visited,
#menu header a,
#menu header a:visited {  
  color: #662F0E;
}

#homepage nav,
#menu nav {
  border-top: 4px solid #662F0E;
}

#homepage ul.categories a,
#menu ul.categories a {
  color: #662F0E;
}

#homepage footer,
#menu footer {
  background-color: #662F0E;
}

/*
AFRICA STYLES
*/

/*Green #4E704B*/
/*Blue #3D3950*/

#africa header {
background: rgb(134,0,0); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(134,0,0,1) 0%, rgba(226,145,12,1) 35%, rgba(134,0,0,1) 94%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(134,0,0,1)), color-stop(35%,rgba(226,145,12,1)), color-stop(94%,rgba(134,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(134,0,0,1) 0%,rgba(226,145,12,1) 35%,rgba(134,0,0,1) 94%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(134,0,0,1) 0%,rgba(226,145,12,1) 35%,rgba(134,0,0,1) 94%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(134,0,0,1) 0%,rgba(226,145,12,1) 35%,rgba(134,0,0,1) 94%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(134,0,0,1) 0%,rgba(226,145,12,1) 35%,rgba(134,0,0,1) 94%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#860000', endColorstr='#860000',GradientType=0 ); /* IE6-9 */
}

#africa h1, 
#africa .menu, 
#africa .home {
  color: #3D3950; /* Blue */
  text-shadow: 1px 1px 1px white;
}

#africa .background-wrapper {
  background-image: url("../images/KenteCloth.jpg");
}

#africa main {
  background-color: #E0C291; /* Light Orange */
  opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */
}

#africa h2, #africa h3 {
  color: #860000;  /* Red */
  text-shadow: 1px 1px 1px white;
}

#africa a {
  color: #3D3950; /* Blue */
  font-weight: bolder;
}

#africa footer {
  background-color: #860000; /* Red */
  color: #E0B167;
}

/*
LATIN AMERICA STYLES
*/

#latin-america header {
  background-color: #4E704B; /* Dark Green */
}

#latin-america h1, 
#latin-america .menu, 
#latin-america .home {
  color: white;
  text-shadow: 1px 1px 1px black;
}

#latin-america main {
  background-color: #83BC7E; /* Light Green */
}

#latin-america h2, 
#latin-america h3 {
  color: black;
  text-shadow: 1px 1px 1px white;
}
